<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">


	<context:property-placeholder location="classpath:db.properties" />

	<!-- c3p0 -->
	<bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>

	</bean>

	<!-- 核心事物管理器 -->
	<bean name="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 开启事物 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 配置sessionfactory -->
	<bean name="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingDirectoryLocations" value="classpath:cn/alvin/domain"></property>
	</bean>



	<bean name="userAction" class="cn.alvin.web.action.UserAction"
		scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="articleAction" class="cn.alvin.web.action.ArticleAction" scope="prototype">
		<property name="articleService" ref="articleService"></property>
	</bean>
	<bean name="allowUserWrite" class="cn.alvin.web.action.AllowUserWrite" scope="prototype"></bean>




	<bean name="userService" class="cn.alvin.service.Impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean name="articleService" class="cn.alvin.service.Impl.ArticleServiceImpl">
		<property name="articleDao" ref="articleDao"></property>
	</bean>
	<bean name="uploadService" class="cn.alvin.service.Impl.UploadServiceImpl"></bean>




	<bean name="userDao" class="cn.alvin.Dao.Impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="articleDao" class="cn.alvin.Dao.Impl.ArticleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


</beans>